body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFC2C7; /* Light orange color /
}

header {
  background-color: #FFC2C7; / Light orange color /
  color: #333;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #FF0000; / Red color /
  text-decoration: none;
}

main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: #FF0000; / Red color /
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

li img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

li span {
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #FF0000; / Red color */
  padding: 10px;
  text-align: center;
}
